html {
  background-color: rgb(74, 202, 168);
}

body {
  background-color: rgb(74, 202, 168);
}

form {
  text-align: center;
  width: 70%;
  margin-left:15%;
  margin-top: 10px;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px white;
}

h5 {
  text-align:center;
  color: brown;
  margin-top: 30px;
}

footer p {
  text-align: center;
  color: rgb(100, 250, 200);
  margin-top: 50%;
}


#secondaryheader {
  text-align: center;
  color: rgb(189, 197, 213);
}
